<%= render 'shared/content_title', title: 'All Posts' %>

<% @posts.each do |post| %>
<div class="row">
  <div class="span8 well">
  <%= render post.categories %>
    <h4><%= link_to post.title, "http://#{post.url}" %></h4>
    <p><%= post.description %></p>
    <p>
      <small class='quiet'>posted by</small> <%= post.creator.username %>
      <small>at <%= post.created_at %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>
<% end %>
