<p class='pull-right'>
  [<%= link_to 'edit post', edit_post_path(@post) %>]
</p>

<%= render @post.categories %>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<%= link_to 'all posts', posts_path %>