<%= render 'shared/content_title', title: "Add a new category" %>

<%= render 'shared/errors', obj: @category %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class=''> 
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit 'Create Category', class: 'btn btn-primary' %>
  <% end %>
</div>